


/* slider */
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  border: 1px solid #d5d5d5;
  
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}
div.slider{
    display: flex;
    overflow: auto;
    white-space: nowrap;
    margin: 100px auto;
  
}

.slider ul{
    display: flex;
}

.slider ul li {
    display: block;
    cursor: pointer;

}

.slider ul li span {
  display: block;
  width: 100%;
  font-size: 20px;
  color: black;
  text-align: center;
}

/*  end of slider */