*{
    padding: 0;
    margin: 0;
    /*background-color:#EDF3F6;*/
    /*font-family: 'Corinthia', cursive;*/
}

.nav
{
    top:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: #070617;
}
.nav1
{
    width:10%;
    text-align: right;
    padding: 18px 15px;
    font-size: 24px;
    
}
.nav1 a
{
    color:#6C64E3;
}
.nav1 ul 
{
    list-style: none;
}
.nav1 ul li a
{
    text-decoration: none;
    font-size: larger;
}

.nav2
{
    width:40%;
    display: flex;
    list-style: none; 
    font-size: 16px;
    justify-content: space-between;
    transition: all 3s;
    transition-timing-function: ease-in;
    position: relative;
    background-color: #070617;
    width:100%;
}
.nav2 ul
{
    list-style: none;
    display: flex;
    
}
.nav2 li
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right:10px;
}
.nav2 ul li a
{
    text-decoration: none;
    color: white;
    font-weight: lighter;
}
.nav2 .home1
{
    color:#6C64E3;
}
.nav2 ul li a:hover
{
    color:#6C64E3;
} 
.nav3
{
    width:80%;
    display: flex;
    list-style: none; 
    font-size: 25px;
    transition: all 3s;
    transition-timing-function: ease-in;
    position: relative;
}
.nav3 ul
{
    list-style: none;
    display: flex;
    position: relative;
    left:30%
    
}
.nav3 li
{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right:20px;
}
.nav3 i
{
    color: white;
}
.nav3 i:hover
{
    color:#6C64E3;
}
.nav3 ul li span{
    font-size: 15px;
    background-color: orange;
    padding: 3px;
    border-radius: 50px;
    color: #fff;
    position: absolute;
    right: 12px;
    top: 8px;
}
.box{
    width:400px;
    height: 600px;
    background-color: #ddd;
    overflow-y: auto;
    padding: 30px;
    position: absolute;
    z-index: 999999;
    right: 20px;
}
.box.display{
    display: none;
}
.box div{
    margin: auto;
    width: 300px;
    margin-bottom: 10px;
    text-align: center;
}
.box div img{
    width: 100%;
    height: 200px;
    display: inline-block;
}
.box div p{
    display: block;
}
.box div p button{
    display: none;
}
.box div a{
    display: none;
}
.nav1 .logo
{
    color:white;
}
.letter
{
    color:#6C64E3;
    font-weight: bolder;
}
#gsearch
{
    width:500px;
    position: relative;
    right:30%;
}
.nav3 button
{
    position: relative;
    right:180px;
}
.nav3 button i
{ 
   color: #6C64E3;
}

.main-product,
.fashion-product,
.electron-product,
.kids-product,
.fitness-product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin: auto;
    text-align: center;
    margin-top: 70px;

}
.product{
    margin-bottom: 20px;  
}
.product p{
    font-size: 20px;
    background-color: white;
}
.product img{
    width: 300px;
    height: 300px;
    
}
.product a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: blue;
}
.product button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #6C64E3;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .product:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  }
  .product button:hover {
    opacity: 0.7;
  }

  .img_container{
      width: 100%;
      height: 300px;
  }
 

/********************************************************* Electronic ***************************************************/
 
.electron-product{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 70px;
}

.electron-product .product{
   
    max-width: 300px;
    margin-bottom: 20px ;
    text-align: center;
    font-family: arial;
    gap: 5px;
    width: 25%;
    height: auto;
    
}

 .electron-product .desc{
    width: 100%;
  
}

.electron-product span
{
        color: gray;
        font-size: 22px;
        background-color: white;
     
}
.electron-product .img_container p{
    background-color: white;
    padding: 20px;
    margin: 0;
}


/********************************************************Fashion Products *************************************************************/

.fashion-product{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 70px;
   
}

 .fashion-product .product{
     background-color: white;
 }

.fashion-product span
{
        color: gray;
        font-size: 22px;
        background-color: transparent;
        align-content: center; 
        text-align: center;
        padding: 5px;
        margin: 0;    
}
.fashion-product .img_container p{
    background-color: white;
    padding: 20px;
    margin: 0;
}

.fashion-product .img_container img{
    background-color: white;
    padding: 20px;
    margin: 0;
    
}
.fashion-product .desc{
    background-color: white;
}

/***************************************************Fitness_product***********************************************/


.fitness-product span {
    color: gray;
    font-size: 20px;
    background-color: transparent;
    align-content: center; 
    text-align: center;
    padding: 5px;
    margin: 0;  
    margin-top: 70px; 

}
.fitness-product .desc{
    background-color: white;
}

.fitness-product .product{
    background-color: white;
}

.fitness-product .img_container img{
    background-color: white;
    padding: 20px;
    margin: 0;  
}
.fitness-product .img_container p{
    background-color: white;
    padding: 10px;
    margin: 0;
    font-size: 15px;
}

/*************************************************Kids Product**********************************/

.kids-product span {
    color: gray;
    font-size: 20px;
    background-color: white;
    align-content: center; 
    text-align: center;
    padding: 5px;
    margin: 0;  
    margin-top: 70px;  
}
.kids-product .product{
    background-color: white;
}

.kids-product .img_container img{
    background-color: white;
    padding: 20px;
    margin: 0;  
}

.kids-product .img_container p{
    background-color: white;
    padding: 10px;
    margin: 0;
    font-size: 18px;
}
.kids-product .desc{
    background-color: white;
}
/*************************************************main Product**********************************/


.main-product .product a
{
    background-color: #6C64E3;
    color: black;
    padding:10px;
}
.main-product .product a:hover
{
    color:white;
}
.main-product .product p
{
    padding: 10px;
}
/*product fitness*/
.product-fitness{
    padding: 10px;
}
.product-fitness .products{
    width: 100%;
    height: auto;
    display: flex;
}
.product-fitness .products .image{
    width: 50%;
    height: 100%;
}
.product-fitness .products .image img{
    width: 100%;
    height: 100%;
}
.product-fitness .products .dataPro{
    width: 50%;
    line-height: 30px;
    margin-left: 20px;
}
.product-fitness .products .dataPro .title{
    width: 80%;
    text-align: justify;
}
.product-fitness .products .dataPro .details{
    text-align: justify;
}
.product-fitness .products .dataPro .rating img{
    width: 80px;
    margin-right: 10px;
}
.filtration{
    margin-bottom: 10px;
}

/* style of button */
.btn-group{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn-group button {
    background-color: #6e6be3; 
    border: 1px solid lightgrey;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: left;
    border-radius: 10px;
    margin-right: 15px;
  }
  .btn-group button:not(:last-child) {
    border-right: none; 
  }
  .btn-group button:hover {
    background-color: grey;
  }
 